.to-do-backlog {
    display: flex;
    gap: 20px;
    height: 100%;

    &__group {
        display: flex;
        flex-direction: column;
        gap: 12px;
        flex-basis: 400px;
    }

    &__description {
        padding: 12px 16px;
        border: 1px solid #ddd;
        border-radius: 8px;
        background: #f8f9fa;
        max-height: 100%;
        flex: 1;
    }
}
