<div class="task-item-wrapper">
    <div class="task-item-status">
        <mat-checkbox [checked]="isCompleted" (change)="onChangeStatusTask($event.checked)" />
    </div>
    <div class="task-item" [ngClass]="{ selected: isSelected }" [appTooltip]="formLabels.listItemTooltip">
        @if (isEditableTitle) {
            <div class="task-editable">
                <input [(ngModel)]="task.text" class="task-input" />
                <app-button
                    [tooltipText]="formLabels.addTooltip"
                    class="button button--save"
                    (click)="onUpdateTask($event)"
                >
                    {{ formLabels.save }}
                </app-button>
            </div>
        } @else {
            <span class="task-text">{{ task.text }}</span>
        }
        <app-button
            type="button"
            class="button button--delete"
            [tooltipText]="formLabels.deleteTooltip"
            (click)="onDelete($event)"
        >
            <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M12 4L4 12M4 4L12 12" stroke="white" stroke-width="1.5" stroke-linecap="round" />
            </svg>
        </app-button>
    </div>
</div>
