<div class="task-manager">
    <h1 class="task-title">{{ commonLabels.appTitle }}</h1>
    @if (isLoading$ | async) {
        <app-loader [isLoading]="true"></app-loader>
    } @else {
        <div class="task-list-wrapper">
            <div class="task-list-container">
                <mat-form-field class="task-status-select">
                    <mat-select [(value)]="selectedByStatus">
                        <mat-option [value]="EStatus.All">Все</mat-option>
                        <mat-option [value]="EStatus.Completed">Завершенные</mat-option>
                        <mat-option [value]="EStatus.InProgress">Действующие</mat-option>
                    </mat-select>
                </mat-form-field>
                <ul class="task-list">
                    @for (task of tasks$ | async | filterTasks: selectedByStatus; track task.id) {
                        <li>
                            <app-to-do-list-item
                                [task]="task"
                                [selectedItemId]="(selectedItemId$ | async) || notSelectedItemId"
                                [selectedItemIdByDoublClick]="
                                    (selectedItemIdByDoubleClick$ | async) || notSelectedItemId
                                "
                                (delete)="onDelete(task.id)"
                                (click)="onSelectItem(task.id)"
                                (dblclick)="onSelectItemByDoubleClick(task.id)"
                            ></app-to-do-list-item>
                        </li>
                    }
                </ul>
                <app-to-do-create-item></app-to-do-create-item>
            </div>
            <div class="description">{{ (selectedTask$ | async)?.description || '' }}</div>
        </div>
    }
</div>
