@let selectedItemIdByDoubleClick = (selectedItemIdByDoubleClick$ | async) || notSelectedItemId;

@if (isLoading$ | async; as isLoading) {
    <app-loader [isLoading]="isLoading"></app-loader>
} @else {
    <div class="to-do-board">
        @if (tasksByStatus$ | async; as tasksByStatus) {
            <div class="to-do-board__group">
                <app-to-do-group
                    [title]="statusLabels[status.Pending]"
                    [tasks]="tasksByStatus[status.Pending]"
                    [selectedItemId]="notSelectedItemId"
                    [selectedItemIdByDoubleClick]="selectedItemIdByDoubleClick"
                ></app-to-do-group>
            </div>
            <div class="to-do-board__group">
                <app-to-do-group
                    [title]="statusLabels[status.InProgress]"
                    [tasks]="tasksByStatus[status.InProgress]"
                    [selectedItemId]="notSelectedItemId"
                    [selectedItemIdByDoubleClick]="selectedItemIdByDoubleClick"
                ></app-to-do-group>
            </div>
            <div class="to-do-board__group">
                <app-to-do-group
                    [title]="statusLabels[status.Completed]"
                    [tasks]="tasksByStatus[status.Completed]"
                    [selectedItemId]="notSelectedItemId"
                    [selectedItemIdByDoubleClick]="selectedItemIdByDoubleClick"
                ></app-to-do-group>
            </div>
        }
    </div>
}
