@if (viewModel$ | async; as vm) {
    @if (vm.isLoading) {
        <app-loader [isLoading]="vm.isLoading" />
    } @else {
        <div class="to-do-board">
            @if (vm.tasksByStatus) {
                <div class="to-do-board__group">
                    <app-to-do-group
                        [title]="statusLabels[status.Pending]"
                        [tasks]="vm.tasksByStatus[status.Pending]"
                        [selectedItemId]="notSelectedItemId"
                        [selectedItemIdByDoubleClick]="vm.selectedItemIdByDoubleClick"
                    />
                </div>
                <div class="to-do-board__group">
                    <app-to-do-group
                        [title]="statusLabels[status.InProgress]"
                        [tasks]="vm.tasksByStatus[status.InProgress]"
                        [selectedItemId]="notSelectedItemId"
                        [selectedItemIdByDoubleClick]="vm.selectedItemIdByDoubleClick"
                    />
                </div>
                <div class="to-do-board__group">
                    <app-to-do-group
                        [title]="statusLabels[status.Completed]"
                        [tasks]="vm.tasksByStatus[status.Completed]"
                        [selectedItemId]="notSelectedItemId"
                        [selectedItemIdByDoubleClick]="vm.selectedItemIdByDoubleClick"
                    />
                </div>
            }
        </div>
    }
}
