@use 'mixins/buttons' as button;

.button {
    @include button.button-base;
    border-radius: 4px;
    padding: 6px 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;

    &__success {
        @include button.button-variant(#02a325);
    }

    &__danger {
        @include button.button-variant(#dc3545);
    }

    &__primary {
        @include button.button-variant(#3583dc);
    }
}
