@use 'sass:color';

@mixin button-base {
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
    font-weight: 500;
    transition: background 0.2s ease;
    height: 100%;
    width: 100%;
}

@mixin button-variant($bg-color) {
    background-color: $bg-color;

    &:hover:not(:disabled) {
        background-color: color.adjust($bg-color, $lightness: -10%);
    }

    &:disabled {
        background: #6c757d;
        cursor: not-allowed;
        opacity: 0.5;
    }
}
